[data-bs-theme="dark"] {
    --bs-primary-border-subtle: red;
}
.form-control:focus {
    border-color: #F5F5F5;
    box-shadow: 0 0 0 .20rem rgba(238, 238, 238, 0.25);
}

.dropdown-item {
    transition: .2s all ease;
}
