<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
        <link rel="stylesheet" href="../static/css/styles2.css">
        <link href="../static/icons/font/bootstrap-icons.css" rel="stylesheet">

        <link rel="icon" href="../static/img/cart.gif">
        <title>{% block title %}{% endblock %} | Store</title>
        {% endblock %}
    </head>
    <body>
        {% include 'nav.html' %}
        {% block content %}
        {% endblock %}
    </body>
</html>
