{% extends 'base.html' %}
{% block title %}Cart{% endblock %}
{% block content %}
    <div class="container-big">
        {% for item in cart_items %}
            <form method="post" class="border p-1">
                <input type="hidden" value="{{item.product_id}}" name="item-id" />
                <div class="flex">
                    <div class="col-7">
                        <p class="larger"><a class="default" href="/product-details/{{item.product.id}}">{{item.product.product_name}}</a></p>
                        <div class="quantity-picker">
                            <b>Qty</b>: <input type="number" id="quantity" name="quantity" style="max-width:5em;" class="quantity-input inline block" value="{{item.quantity}}" min="1" max="{{item.product.availability}}">
                            <button name="update-cart" class="ml-.5 success" type="submit" title="Update"><i class="bi bi-arrow-clockwise"></i></button>
                        </div>
                    </div>
                    <div>
                        <p class="py-.25 px-.5 bg-success border-r">{{ item.product.price }}€</p>
                        <button class="danger" type="submit" name="delete-item"><i class="bi bi-trash-fill"></i></button>
                    </div>
                </div>
            </form>
        {% endfor %}
        <form method="post" onsubmit="">
        <div class="flex">
            <button name="place-order" class="ml-.5" type="submit">Order and Pay</button>
            <button name="clear-cart" class="ml-.5 danger" type="submit">Clear Cart</button>
            <div style="margin-left: auto; margin-right: 0" class="larger">
                Total: <p class="py-.25 px-.5 bg-success inline block border-r">{{ total }}€</p>
            </div>
        </div>
        </form>
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            <ul class="flash danger"><!-- serve una <ul> perché i messaggi li dobbiamo iterare con un for, ma sarà sempre 1 msg -->
                {% for msg in errors %}
                    {{ msg }}
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>
{% endblock %}
