{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container-big">
    {% if items|length == 0 %}
        <p class="muted mt-1 centered">No products to show :(</p>
    {% endif %}
    <div class="flex wrap">
    {% for item in items %}
    <article {% if item.availability == 0 %} style="opacity: 0.3" {% endif %}>
        <header>
            <h1><a class="flex default" href="{{ url_for('product.product_details', pid=item.id)}}">{{ item.product_name }}</a></h1>
        </header>
        <a class="flex" href="{{ url_for('product.product_details', pid=item.id)}}">
            <img class="" src="{{ url_for('product.uploaded_file', filename=item.image_filename)}}" />
        </a>
        <footer>
            <p class="small muted">{{ item.brand }}</p>
            <p class="bold larger py-.25 px-.5 bg-success inline block border-r">{{ item.price | round(2) }}€</p>
        </footer>
    </article>
    {% endfor %}
    </div>
</div>
{% endblock %}
