{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="pt-.5 container">
        <h1>Login</h1>
        <form method="post" onsubmit="">
            <input class="mb-.5" name="email" type="text" placeholder="Email">
            <input class="mb-.5" name="password" type="password" placeholder="Password">
            <button type="submit">Log in</button>
        </form>
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            <ul class="flash danger"><!-- serve una <ul> perché i messaggi li dobbiamo iterare con un for, ma sarà sempre 1 msg -->
                {% for msg in errors %}
                    {{ msg }}
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <p class="centered">Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
{% endblock %}
