<menu>
    <li><a href="/home">Store</a></li>
    {% if current_user.is_authenticated and not current_user.is_seller() %}
    <li class="{% if request.path ==  '/cart' %} selected {% endif %}"><a href="/cart"><i class="bi bi-cart3"></i> Cart</a></li>
    {% endif %}
    <li class="{% if request.path == '/search' %} selected {% endif %}"><a href="/search"><i class="bi bi-search"></i> Search</a></li>
    <li>
        <a href="#">Menu</a>
        <menu>
            <li class="{% if request.path == '/profile' %} selected {% endif %}"><a href="/profile"><i class="bi bi-person-fill"></i> Profile</a></li>
            <li class="{% if request.path == '/orders' %} selected {% endif %}"><a href="/orders"><i class="bi bi-box-seam"></i> Orders</a></li>
            {% if current_user.is_authenticated %}
                {% if current_user.is_seller() %}
                    <li class="{% if request.path ==  '/sell' %} selected {% endif %}"><a href="/sell"><i class="bi bi-cash-coin"></i> Sell</a></li>
                {% endif %}
                <li class="attention"><a href="/logout"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
            {% endif %}
        </menu>
    </li>
    {% if request.path == '/home' %}
    <li class="m-.25 p-0">
        <form method="get" class="m-0 p-.25 bg-default">
            <div class="flex">
                <input id="search-bar" name="search" placeholder="Search" class="inline block" style="height:100%"></input>
            </div>
        </form>
    </li>
    {% endif %}
</menu>
