<menu>
    <li><a href="#">Store</a></li>
    <li><a href="#"><i class="bi bi-cart3"></i> Cart</a></li>
    <li>
        <a href="#">Menu</a>
        <menu>
            <li><a href="#"><i class="bi bi-person-fill"></i> Profile</a></li>
            <li><a href="#"><i class="bi bi-box-seam"></i> Orders</a></li>
            <li class=""><a href="#"><i class="bi bi-cash-coin"></i> Sell</a></li>
            <li class="attention"><a href="#"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
        </menu>
    </li>
    <li class="m-0"><input type="search" placeholder="Search"></li>
</menu>
