{% extends 'base.html' %}
{% block title %}Orders{% endblock %}
{% block content %}
<div class="container-big">
    <h1>Your orders</h1>
    {% for order in orders %}
    <details>
        <summary>
            {% if order.status == 'Received' %}
                <i class="success bi bi-check-circle-fill"></i>
            {% elif order.status == 'Processing' %}
                <i class="attention bi bi-three-dots"></i>
            {% elif order.status == 'Sent' %}
                <i class="attention bi bi-send-fill"></i>
            {% endif %}
            <b>Order No. {{order.id}}</b> 
            {% with t_passed = (now - order.date) %}
                {% if t_passed.days == 0 %}
                    ({{(t_passed.total_seconds()//3600)|int}} hour{{'s' if (t_passed.total_seconds()//3600)>1}} ago)
                {% else %}
                    ({{(now - order.date).days}} day{{'s' if t_passed.days>1}} ago)
                {% endif %}
            {% endwith %}
        </summary>
        <table> 
            <tr>
                <th class=""></th>
                <th>Qty</th>
                <th>Product name</th>
                <th>Unit price (€)</th>
                <th>Amount (€)</th>
            </tr>
        {% for ord_prod in order.products %}
        {% with prod = ord_prod.product %}
            <tr>
                <th>{{loop.index}}</th>
                <td>{{ord_prod.quantity}}</td>
                <td><a href="/product-details/{{prod.id}}" class="default">{{prod.product_name}}</a></td>
                <td>{{prod.price}}</td>
                <td>{{prod.price * ord_prod.quantity}}</td>
            </tr>
        {% endwith %}
        {% endfor %}
            <tr class="bold larger">
                <th></th>
                <td></td>
                <td></td>
                <td></td>
                <td class="success bg-success">{{order.price}}</td>
            </tr>
            <caption class="italic">
                    {{order.date.strftime("%d/%m/%Y, %H:%M")}}
            </caption>
        </table>
        <div id="order-info">
            <p><b>Order status</b>: {{order.status}}</p>
            <p><b>Sent to</b>:</p>
            <div class="address" style="max-width: 75%">
                <p class="bold" id="name">{{order.address_obj.first_name}} {{order.address_obj.last_name}}</p>
                <p id="street">{{order.address_obj.street}}</p>
                <p id="city">{{order.address_obj.province}} {{order.address_obj.postcode}}</p>
                <p id="country">{{order.address_obj.state}}</p>
            </div>
        </div>
    </details>
    {% endfor %}
</div>
{% endblock %}
