{% extends 'base.html' %}
{% block title %}Orders{% endblock %}
{% block content %}
<div class="container-big">
    <h1>Orders for you</h1>
    {% for order in orders %}
    <details>
        <summary>
            {% if order.status == 'Received' %}
                <i class="{{'success' if order.confirmed else 'attention'}} bi bi-check-circle-fill"></i>
            {% elif order.status == 'Processing' %}
                <i class="attention bi bi-three-dots"></i>
            {% elif order.status == 'Sent' %}
                <i class="attention bi bi-send-fill"></i>
            {% elif order.status == 'Cancelled' %}
                <i class="severe bi bi-x-circle-fill"></i>
            {% endif %}
            <b>Order No. {{order.id}}</b> 
            {% with t_passed = (now - order.date) %}
                {% if t_passed.days == 0 %}
                    ({{(t_passed.total_seconds()//3600)|int}} hour{{'s' if (t_passed.total_seconds()//3600)>1}} ago)
                {% else %}
                    ({{(now - order.date).days}} day{{'s' if t_passed.days>1}} ago)
                {% endif %}
            {% endwith %}
        </summary>
        <div class='receipt-container'>
        <table class="receipt" style="max-width: 100%"> 
            <tr>
                <th class=""></th>
                <th>Qty</th>
                <th>Product name</th>
                <th>Unit price (€)</th>
                <th>Amount (€)</th>
            </tr>
        {% for ord_prod in order.products %}
        {% with prod = ord_prod.product %}
            <tr>
                <th>{{loop.index}}</th>
                <td>{{ord_prod.quantity}}</td>
                <td><a href="/product-details/{{prod.id}}" title="{{prod.product_name}}" class="default">{{prod.product_name}}</a></td>
                <td>{{prod.price}}</td>
                <td>{{prod.price * ord_prod.quantity}}</td>
            </tr>
        {% endwith %}
        {% endfor %}
            <tr class="larger">
                <th></th>
                <td colspan="3"></td>
                <td class="bold success bg-success">{{order.price}}</td>
            </tr>
            <caption class="italic">
                {{order.date.strftime("%d/%m/%Y, %H:%M")}}
            </caption>
        </table>
        </div>
        <div id="order-info">
            <p><b>Order status</b>: {{order.status}} <small class="muted">({{ 'Confirmed' if order.confirmed else 'Unconfirmed'}})</small></p>
            <div id="new-status-container" class="mb-1 mx-.5" style="width:50%">
                <form method="post">
                    <input type="hidden" name="order-id" class="inline block" value="{{order.id}}"/>
                    <select name="new-status" class="inline block" style="width:70%">
                        <option selected disabled>New status</option>
                        {% for status in ['Sent', 'Processing', 'Received', 'Cancelled'] %}
                            <option value="{{status}}">{{status}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="inline block" style="width:25%">Update</button>
                </form>
            </div>

            <p><b>Sen{{'t' if order.status != 'Awaiting shipment' else 'd'}} to</b>:</p>
            <div class="address mx-.5" style="max-width: 75%">
                <p class="bold" id="name">{{order.address_obj.first_name}} {{order.address_obj.last_name}}</p>
                <p id="street">{{order.address_obj.street}}</p>
                <p id="city">{{order.address_obj.province}} {{order.address_obj.postcode}}</p>
                <p id="country">{{order.address_obj.state}}</p>
            </div>
            <p class="mt-1"><b>Payment method</b>: {{order.payment_method}}</p>
        </div>
    </details>
    {% endfor %}
</div>
{% endblock %}
