<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> TITLE </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1> Products </h1>
	<h3> These are the products </h3>
	<ul>
		{% for element in products %}
			<li>{{ element }}</li>
		{% endfor %}
	</ul>
	<h3> This is the user who's selling them </h3>
		{{ vendor }}

	<h3> Product for sale by a certain user</h3>
	<ul>
		{% for el in prod_vend%}
			<li>{{ el }}</li>
		{% endfor %}
	</ul>
</body>
</html>
