{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container-big">
    <h1>Profile</h1>
    <div class="flex">
        <div class="px-2">
            <fieldset>
                <legend>Account</legend>
                <p id="username">{{user.username}}</p>
                <table>
                    <tr>
                        <td><p class="bold muted">Name</p></td>
                        <td><p class="">{{user.name}} {{user.last_name}}</p></td>
                    </tr>
                    <tr>
                        <td><p class="bold muted">E-mail</p></td>
                        <td><p class="">{{user.email}}</p></td>
                    </tr>
                    <tr>
                        <td><p class="bold muted">Type</p></td>
                        <td>
                            <p class="">
                                {% if user.user_type == 0 %}
                                    Seller
                                {% else %}
                                    Buyer
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="px-2">
            <fieldset>
                <legend>Addresses</legend>
                {% for addr in addrs %}
                <div class="address">
                    <p class="bold" id="name">Nome Cognome</p>
                    <p id="street">lol</p>
                    <p id="city">{{addr.province}}</p>
                    <p id="country">{{addr.state}}</p>
                </div>
                {% endfor %}
            </fieldset>
        </div>
    </div>
    <div class="flex">
        <div class="px-2">
            test
        </div>
    </div> 
</div>
{% endblock %}
