{% extends 'base.html' %}
{% block title %}Your reviews{% endblock %}
{% block content %}
<div class="container-big">
    {% if current_user.is_seller() %}
        {% for p in reviews %}
            <details open>
                <summary class="default" style="text-decoration:none">
                    <b style="text-decoration:none" class="larger">
                        <a href="/product-details/{{p.id}}" class="default">{{p.product_name}} <i class="bi bi-arrow-right"></i></a>
                    </b>
                </summary>
                {% if p.reviews | length == 0 %}
                    <p class="muted">No reviews for this product...</p>
                {% else %}
                    {% for review in p.reviews %}
                        <details>
                            <summary class="default" style="text-decoration:none">
                                <p class="my-0 inline block default"><b>{{review.user.username}}</b></p>
                                <div class="inline block">
                                    <div class="flex attention">
                                        {% for _ in range(review.stars) %}<i class="bi bi-star-fill"></i>{% endfor %}
                                        {% for _ in range(5-review.stars | int) %}<i class="bi bi-star"></i>{% endfor %}
                                    </div>
                                </div>
                            </summary>
                            <p>{{review.review}}</p>
                            <footer><p class="muted">{{ review.date.strftime('%x') }}</p></footer>
                        </details>
                    {% endfor %}
                {% endif %}
            </details>
        {% endfor %}
    {% else %}
        {% for review in reviews %}
            <details>
                <summary class="default" style="text-decoration:none">
                    <p class="my-0 inline block default"><a href="/product-details/{{review.product.id}}" class="default">{{review.product.product_name}} <i class="bi bi-arrow-right"></i></a></p>
                    <div class="inline block">
                        <div class="flex attention">
                            {% for _ in range(review.stars) %}<i class="bi bi-star-fill"></i>{% endfor %}
                            {% for _ in range(5-review.stars | int) %}<i class="bi bi-star"></i>{% endfor %}
                        </div>
                    </div>
                </summary>
                <p>{{review.review}}</p>
                <footer><p class="muted">{{ review.date.strftime('%x') }}</p></footer>
            </details>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
