{% extends 'base.html' %}
{% block title %}Sell{% endblock %}
{% block content %}
    <div class="container-big">
        <h1>Sell a product</h1>
        <form method="post" onsubmit="" enctype="multipart/form-data">
            <div class="flex">
                <div class="col-3 m-1">
                    <img class="mw-100 mh-100" src="../static/img/300x300.svg"/>
                    <input type="file" name="image_file">
                </div>
                <div class="col-7 m-1">
                    <fieldset>
                        <legend>Details</legend>
                        <div class="mb-.5 flex">
                            <input title="Product name" class="mr-.25" type="text" name="name" placeholder="Product name" maxlength="50">
                            <input title="Brand" class="mr-.25" type="text" name="brand" placeholder="Brand" maxlength="20">
                        </div>
                        <select class="mb-.5" name="dimensions">
                            <option selected disabled>Product dimensions</option>
                            <option value="small">Small (less than 200x200 mm)</option>
                            <option value="medium">Medium (between 200x200 and 500x500 mm)</option>
                            <option value="big">Big (more than 500x500 mm)</option>
                        </select>
                        <select class="mb-.5" name="category">
                            <option selected disabled>Product type</option>
                            <option value="1">Arts</option>
                            <option value="2">Personal Care</option>
                            <option value="3">Electronics</option>
                            <option value="4">Music</option>
                            <option value="5">Sports</option>
                            <option value="6">Movies & TV</option>
                            <option value="7">Software</option>
                            <option value="8">Games</option>
                            <option value="9">House</option>
                            <option value="10">DIY</option>
                        </select>
                        <input class="mb-.5" title="Price (€)" type="number" min="1" step="any" name="price" placeholder="Price (€)">
                        <input class="mb-.5" title="Availability" type="number" min="1" step="any" name="availability" placeholder="Quantity">
                        <textarea class="mb-.5" title="Description" name="description" placeholder="Description" style="resize:vertical; min-height:5rem;  max-height:15rem" maxlength="300"></textarea>
                        <fieldset style="height:15rem; overflow:auto; position:relative">
                            <legend>Tags</legend>
                            <table>
                            <tr> 
                            {% for tag in tags %}
                                <td style="border:none">
                                    <input type="checkbox" name="tag" value="{{tag.id}}" id="{{tag.value.lower()}}">{{tag.value}}
                                </td>
                            {% if loop.index%4 == 0 %}</tr><tr>{% endif %}
                            {% endfor %}
                            </table>
                        </fieldset>
                        {% with errors = get_flashed_messages(category_filter=["error"]) %}
                        {% if errors %}
                            <ul class="flash danger"><!-- serve una <ul> perché i messaggi li dobbiamo iterare con un for, ma sarà sempre 1 msg -->
                                {% for msg in errors %}
                                    {{ msg }}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <button type="submit" value="Upload">Sell</button>
                        {% endwith %}
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
