{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
    <div class="pt-.5 container">
        <h1>Register</h1>
        <form method="post" onsubmit="">
            <div class="mb-.5 flex">
                <input class="mr-.25" type="text" name="fname" placeholder="First name">
                <input class="ml-.25" type="text" name="lname" placeholder="Last name">
            </div>
            <input class="mb-.5" type="text" name="username" placeholder="Username" maxlength="15" title="Maximum length: 15 characters">
            <input class="mb-.5" type="email" name="email" placeholder="E-mail">
            <input class="mb-.5" type="password" minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" 
                title="Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character" required name="password" placeholder="Password">
            <input class="mb-.5" type="password" minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                title="Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character" required name="conf-password" placeholder="Confirm Password">
            <ul class="muted small mb-.5" id="pass-requirements">
                <li>Minimum 8 characters, one uppercase letter, one lowercase letter, one number, one special character</li>
            </ul>
            <select class="mb-.5" name="user_type">
                <option selected value="Buyer">Buyer</option>
                <option value="Seller">Seller</option>
            </select>
            <button type="submit">Sign up</button>
        </form>
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            <ul class="flash danger">
                {% for msg in errors %}
                    {{ msg }}
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <p class="centered">Already have an account? <a href="/login">Log in</a></p>
    </div>
{% endblock %}
