{% extends 'base.html' %}
{% block title %}Edit a listing{% endblock %}
{% block content %}
    <div class="container-big">
        <h1>Edit your listing</h1>
        <form method="post" onsubmit="" enctype="multipart/form-data">
            <div class="flex">
                <div class="col-3 m-1">
                    <img class="mw-100 mh-100" src="/uploads/{{item.image_filename}}"/>
                    <input type="file" name="image_file">
                </div>
                <div class="col-7 m-1">
                    <fieldset>
                        <legend>Details</legend>
                        <div class="mb-.5 flex">
                            <input title="Product name" class="mr-.25" type="text" name="name" placeholder="Product name" value="{{item.product_name}}">
                            <input title="Brand" class="ml-.25" type="text" name="brand" placeholder="Brand" value="{{item.brand}}">
                        </div>
                        <select class="mb-.5" name="size">
                            <option selected disabled>Product size</option>
                            <option value="small" {{'selected' if item.size == 'small'}}>Small (less than 200x200 mm)</option>
                            <option value="medium" {{'selected' if item.size == 'medium'}}>Medium (between 200x200 and 500x500 mm)</option>
                            <option value="big" {{'selected' if item.size == 'big'}}>Big (more than 500x500 mm)</option>
                        </select>
                        <select class="mb-.5" name="category">
                            {% for cat in ('Arts', 'Personal Care', 'Electronics', 'Music', 'Sports', 'Movies & TV', 'Software', 'Games', 'House', 'DIY') %}
                            <option {{'selected' if item.category_id == loop.index}} value="{{loop.index}}">{{cat}}</option>
                            {% endfor %}
                        </select>
                        <input class="mb-.5" title="Price (€)" type="number" min="1" step="any" name="price" placeholder="Price (€)" value={{item.price}}>
                        <input class="mb-.5" title="Availability" type="number" min="0" step="any" name="availability" placeholder="Quantity" value={{item.availability}}>
                        <textarea class="mb-.5" title="Description" name="description" placeholder="Description">{{item.descr}}</textarea>
                        <fieldset style="height:15rem; overflow:auto; position:relative">
                            <legend>Tags</legend>
                            <table>
                            <tr> 
                            {% for tag in tags %}
                                <td style="border:none">
                                    <input type="checkbox" name="tag" value="{{tag.id}}" id="{{tag.value.lower()}}" {{'checked' if tag.value in it_tags}}>{{tag.value}}
                                </td>
                            {% if loop.index%4 == 0 %}</tr><tr>{% endif %}
                            {% endfor %}
                            </table>
                        </fieldset>
                        <button type="submit" name="update">Update</button>
                        {% with errors = get_flashed_messages(category_filter=["error"]) %}
                        {% if errors != None %}
                            <ul style="color:red"><!-- serve una <ul> perché i messaggi li dobbiamo iterare con un for, ma sarà sempre 1 msg -->
                                {% for msg in errors %}
                                    {{ msg }}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% endwith %}
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
