{% extends 'base.html' %}
{% block title %}Edit a listing{% endblock %}
{% block content %}
    <div class="container-big">
        <h1>Edit your listing</h1>
        <form method="post" onsubmit="" enctype="multipart/form-data">
            <div class="flex">
                <div class="col-3 m-1">
                    <img class="mw-100 mh-100" src="/uploads/{{item.image_filename}}"/>
                    <input type="file" name="image_file">
                </div>
                <div class="col-7 m-1">
                    <fieldset>
                        <legend>Details</legend>
                        <div class="mb-.5 flex">
                            <input title="Product name" class="mr-.25" type="text" name="name" placeholder="Product name" value="{{item.product_name}}">
                            <input title="Brand" class="ml-.25" type="text" name="brand" placeholder="Brand" value="{{item.tags[2].tag.value}}">
                            <input title="Color" class="ml-.25" type="text" name="color" placeholder="Color" value="{{item.tags[1].tag.value}}">
                        </div>
                        <select class="mb-.5" name="dimensions">
                            <option {{'selected' if item.tags[1].tag.value == 'small'}} value="small (less than 200x200 mm)">Small (less than 200x200 mm)</option>
                            <option {{'selected' if item.tags[1].tag.value == 'medium'}} value="medium (between 200x200 and 500x500 mm)">Medium (between 200x200 and 500x500 mm)</option>
                            <option {{'selected' if item.tags[1].tag.value == 'big'}} value="big (more than 500x500 mm)">Big (more than 500x500 mm)</option>
                        </select>
                        <select class="mb-.5" name="category">
                            <option {{'selected' if item.category_id == 1}} value="1">Arts</option>
                            <option {{'selected' if item.category_id == 2}} value="2">Personal Care</option>
                            <option {{'selected' if item.category_id == 3}} value="3">Electronics</option>
                            <option {{'selected' if item.category_id == 5}} value="4">Music</option>
                            <option {{'selected' if item.category_id == 5}} value="5">Sports</option>
                            <option {{'selected' if item.category_id == 6}} value="6">Movies & TV</option>
                            <option {{'selected' if item.category_id == 7}} value="7">Software</option>
                            <option {{'selected' if item.category_id == 8}} value="8">Games</option>
                            <option {{'selected' if item.category_id == 9}} value="9">House</option>
                            <option {{'selected' if item.category_id == 10}} value="10">DIY</option>
                        </select>
                        <input class="mb-.5" title="Price (€)" type="number" min="1" step="any" name="price" placeholder="Price (€)" value={{item.price}}>
                        <input class="mb-.5" title="Availability" type="number" min="1" step="any" name="availability" placeholder="Quantity" value={{item.availability}}>
                        <textarea class="mb-.5" title="Description" name="description" placeholder="Description">{{item.descr}}</textarea>
                        <button type="submit" name="update">Update</button>
                        {% with errors = get_flashed_messages(category_filter=["error"]) %}
                        {% if errors != None %}
                            <ul style="color:red"><!-- serve una <ul> perché i messaggi li dobbiamo iterare con un for, ma sarà sempre 1 msg -->
                                {% for msg in errors %}
                                    {{ msg }}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% endwith %}
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
