{% extends 'base.html' %}
{% block title %}{{item.product_name}}{% endblock %}
{% block content %}
<div class="container-big">
    <h1>{{ item.product_name }}</h1>
    <div class="flex">
        <div class="col-3 m-1">
            <img class="mw-100 mh-100" src="{{ url_for('uploaded_file', filename=item.image_filename)}}"/>
        </div>
        <div class="col-7 m-1">
            <div class="product-details">
                 {% for t in item.tags %}
                    {% if t.tag.value in ['small', 'medium', 'big'] %} <!-- è un po' una merda, va sistemato -->
                        <p>Dimensions: {{ t.tag.value }}</p><br>
                    {% endif %}
                 {% endfor %}
                 <p>Colors:</p>
                 <ul>
                 {% for t in item.tags %}
                    {% if t.tag.value not in ['small', 'medium', 'big'] %}
                        <li>{{ t.tag.value }}</li>
                    {% endif %}
                 {% endfor %}
                </ul>
                <div id="" class="larger bold mt-1"><p class="py-.25 px-.5 bg-success inline block border-r">{{ item.price | round(2) }}€</p></div>
                <div class="product-availability mt-.5">
                    <p class="{% if item.availability <=5 %} bg-severe border-r p-.25 {% endif %} inline block">{{ item.availability }} available</p>
                </div>
                <div id="avg-rating" class="mt-.5">
                    <p class="inline block my-0">{{rating}}</p>
                    <div id= "stars-container" class="inline block">
                        <div class="flex attention">
                            {% for _ in range(rating | int) %}<i class="bi bi-star-fill"></i>{% endfor %}
                            {% for _ in range(5-rating | int) %}<i class="bi bi-star"></i>{% endfor %}
                        </div>
                    </div>
                    <p class="inline block my-0"><a href="#reviews">{{item.reviews | length}} reviews</a></p>
                </div>
                <form class="mt-.5" method="post" onsubmit="">
                    {% if current_user.is_authenticated and current_user.is_seller() %}
                        <button name="update-prod">Edit</button>
                        <button type="submit" name="delete-prod" class="danger">Delete</button>
                    {% else %}
                    <div class="quantity-container mt-.25">
                        <label for="quantity" class="quantity-label inline block pr-.5">Quantity:</label>
                        <input type="number" id="quantity" name="quantity" style="max-width:5em;" class="quantity-input inline block" value="1" min="1" max="{{ item.availability }}">
                    </div>
                    <button href="#" class="" type="submit" name="add-cart">Add to Cart</button>
                    {% endif %}
                </form>
                <div class="product-description mt-.5"> 
                    <details open>
                        <summary>Description</summary>
                        <p>{{ item.descr }}</p>
                    </details>
                </div>
                <div class="seller-info small py-.25">
                    <p class="muted inline block">Sold by: <a href="#">{{item.seller.username}}</a></p>
                </div> 
            </div>
        </div>
    </div>
    <div id="reviews">
        <h2>Reviews</h2>
        {% if bought %}
            <form method="post">
                <label>Write a review:</label>
                <textarea rows="4" name="review-content" placeholder="">
                </textarea>
                <div class="mt-.5">
                    <div>
                        <select class="star-select inline block mr-.5" name="review-stars">
                            <option selected disabled></option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                        <p class="inline block"><i class="bi bi-star-fill attention"></i></p>
                    </div>
                </div>
                <button type="submit" class="mt-.5" name="add-review">Post review</button>
            </form>
        {% endif %}
        {% if not item.reviews %}
            <p class="muted">There are no reviews for this product...</p>
        {% else %}
            {% for review in item.reviews %}
                <details open>
                    <summary style="text-decoration:none">
                        <p class="my-0 inline block">{{review.user.username}} -</p>
                        <div class="inline block">
                            <div class="flex attention">
                                {% for _ in range(review.stars) %}<i class="bi bi-star-fill"></i>{% endfor %}
                                {% for _ in range(5-rating | int) %}<i class="bi bi-star"></i>{% endfor %}
                            </div>
                        </div>
                    </summary>
                    {{review.review}}
                </details>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
