{% extends 'base.html' %}
{% block title %}Orders{% endblock %}
{% block content %}
<div class="container-big">
    <h1>Your orders</h1><!-- Pagina ordini per acquirenti -->
    {% for notif in notifs %}
    <div class="flash success"><a href="#order-{{notif}}" class="success">The status of Order no. {{notif}} has been updated!<i class="bi bi-arrow-right"></i></a></div>
    {% endfor %}
    {% for order in orders %}
    <details id="order-{{order.id}}">
        <summary>
            {% if order.status == 'Received' %}
                <i class="{{'success' if order.confirmed else 'attention'}} bi bi-check-circle-fill"></i>
            {% elif order.status == 'Processing' %}
                <i class="attention bi bi-three-dots"></i>
            {% elif order.status == 'Sent' %}
                <i class="attention bi bi-send-fill"></i>
            {% elif order.status == 'Cancelled' %}
                <i class="severe bi bi-x-circle-fill"></i>
            {% endif %}
            <b>Order No. {{order.id}}</b>
            {% with t_passed = (now - order.date) %}
                {% if t_passed.days == 0 %}
                    ({{(t_passed.total_seconds()//3600)|int}} hour{{'s' if (t_passed.total_seconds()//3600)>1}} ago)
                {% else %}
                    ({{(now - order.date).days}} day{{'s' if t_passed.days>1}} ago)
                {% endif %}
            {% endwith %}
        </summary>
        <div class='receipt-container'>
        <table class="receipt" style="max-width: 100%"> 
            <tr>
                <th class=""></th>
                <th>Qty</th>
                <th>Product name</th>
                <th>Unit price (€)</th>
                <th>Amount (€)</th>
            </tr>
        {% for ord_prod in order.products %}
        {% with prod = ord_prod.product %}
            <tr>
                <th>{{loop.index}}</th>
                <td>{{ord_prod.quantity}}</td>
                <td><a href="{{ url_for('product.product_details', pid=prod.id) }}" title="{{prod.product_name}}" class="default">{{prod.product_name}}</a></td>
                <td>{{prod.price | round(2)}}</td>
                <td>{{(prod.price * ord_prod.quantity) | round(2)}}</td>
            </tr>
        {% endwith %}
        {% endfor %}
            <tr class="larger">
                <th></th>
                <td colspan="3"></td>
                <td class="bold success bg-success">{{order.price | round(2)}}</td>
            </tr>
            <caption class="italic">
                    {{order.date.strftime("%d/%m/%Y, %H:%M")}}
            </caption>
        </table>
        </div>
        <div id="order-info">
            <p><b>Order status</b>: {{order.status}} 
            {% if order.status == 'Received' %}
            <small class="muted">
                ({{ 'Confirmed' if order.confirmed else 'Unconfirmed'}})  
            </small>
            {% endif %}
            </p>
            {% if order.status == 'Received' and order.confirmed is false and not current_user.is_seller() %}
            <form method="post" class="bg-default p-0">
                <input type="hidden" value="{{order.id}}" name="order-id">
                <button type="submit" name="update-confirmed" class="mb-1">Confirm received</button>
            </form>
            {% endif %}
            <p><b>Seller</b>: <a href="#">{{order.products[0].product.seller.username}}</a></p>
            <p><b>Sent to</b>:</p>
            <div class="address mx-.5" style="max-width: 75%">
                <p class="bold" id="name">{{order.address_obj.first_name}} {{order.address_obj.last_name}}</p>
                <p id="street">{{order.address_obj.street}}</p>
                <p id="city">{{order.address_obj.province}} {{order.address_obj.postcode}}</p>
                <p id="country">{{order.address_obj.state}}</p>
            </div>
            <p class="mt-1"><b>Payment method</b>: {{order.payment_method}}</p>
        </div>
    </details>
    {% endfor %}
</div>
{% endblock %}
